body {
    display: flex;
    row-gap: 50px;
    min-height: 50vh; 
    align-items: center;
    justify-content: center;

}
.box {
    /* width: 100px;
    height: 100px; */
    background-color: rgb(49, 12, 49);
    justify-content: center;
    align-items: center; 
    border-radius: 50px;
    border: 15px solid white;
}
.grid {
    display: grid;
    height: 400px;
    width: 700px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 40px;
}
.txt {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 140px;
    
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.button:hover {
    background-color:rgb(232, 91, 194);
    color: white;
}
.digit {
    font-size: 150px;
    color: #fff;
}